<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="general :: page-head"></head>
<body>

<div th:replace="general :: navbar"></div>

<div class="container mt-5">
  <h2 class="mb-4" th:text="'Карточка сотрудника: ' + ${employee.name}"></h2>
  <ul class="list-group">
    <li class="list-group-item"><strong>ID:</strong> <span th:text="${employee.id}"></span></li>
    <li class="list-group-item"><strong>ФИО:</strong> <span th:text="${employee.name}"></span></li>
    <li class="list-group-item"><strong>Должность:</strong>
      <span th:text="${employee.postId != null ? employee.postId.postName : 'Больше не работает'}"></span>
    </li>
    <li class="list-group-item"><strong>Стаж:</strong> <span th:text="${employee.experience}"></span></li>
    <li class="list-group-item"><strong>Дата рождения:</strong> <span th:text="${employee.birthDate}"></span></li>
    <li class="list-group-item"><strong>Образование:</strong> <span th:text="${employee.education}"></span></li>
  </ul>
</div>

<div th:replace="general :: site-script"></div>
</body>
</html>
